$generalBackground: #0e0c17;
$sectionBackground: #1a1925;
$white: #fff;
$accent: #ed1d24;
$active: #851115;
$hover: #a91318;
$disabled: #a1a1a1;
$blueNormal: #1b42bf;
$blueHover: #113098;
$blueActive: #0e2779;
