@import '/src/sass/variables.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $sectionBackground;
  width: 500px;
  min-height: 220vh;
  padding: 10px 25px;
  margin: 50px 0;
  border-radius: 4px;

  img {
    border-radius: 4px;
    margin-top: 15px;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
  }

  h2 {
    text-align: left;
  }

  h3 {
    line-height: 130%;

    span {
      color: $accent;
    }
  }

  h4 {
    color: $accent;
  }

  p {
    padding: 10px 0px;
    margin: 0px;
    border-radius: 2px;
    font-style: oblique;
    font-size: 15px;
    opacity: 0.5;
    line-height: 150%;
  }

  ul {
    padding: 0 20px;

    li {
      line-height: 140%;
      margin-left: 13px;

      &::marker {
        color: $accent;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
